Xterm.termName: xterm-256color

Xterm.vt100.metaSendsEscape: true

Ctrl Shift <Key>C: copy-selection(CLIPBOARD) \n\
Ctrl Shift <Key>V: insert-selection(CLIPBOARD)

Xterm.vt100.Background: black
Xterm.vt100.Foreground: white

Xterm.vt100.font:Inconsolata:monospace:style=Regular:size=14
XTerm.vt100.geometry: 127x37
